@{
    ViewBag.Title = "Portfolio Search";
    Layout = "~/Views/Shared/ConsumerAccountLayout.cshtml";
}
<div class="lead-wrap clearfix">
    <div class="pull-left">
        <h1 class="title">Portfolio</h1>
    </div>
</div>
<div class="form-inline">
    <div class="form-group" style="margin-bottom: 15px;vertical-align: top;">
        <label for="inputEmail">Document Name:</label>
        <input type="text" id="searchDoc" class="string form-control" placeholder="Type here" maxlength="100" style="height: 30px;width: 220px;border-radius: 3px;" />
    </div>
    <button class="btn btn-sm but-align" id="btnDocSearch">Search</button>
    <button class="btn btn-sm but-align" id="btnDocClear" style="margin-left: 2px;">Clear</button>
</div>

<div class="panel panel-default clearfix">
    <div class="panel-body">
        <div class="table-responsive grid-wrapper">
            <table class="table" id="pdg"></table>
        </div>
        <div style="display: none;">
            <div id="folderViewDialog" style="margin: 12px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group row" style="text-align:center">
                            <div class="col-xs-12">
                                <label>Please select the Folder View you want to open.</label>
                            </div>
                        </div>
                        <div class="form-group row" style="text-align:center">
                            <button id="btnClassicFolderView" type="button" class="btn btn-sm but-align">Classic Folder View</button>
                            <button id="btnSOTView" type="button" class="btn btn-sm but-align">SOT View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none;">
    @Html.Partial("FolderDialog")
</div>

<script type="text/javascript">
    var vbIsFolderLockEnable = @Html.Raw(ViewBag.IsFolderLockEnable);
    var claims = @Html.Raw(Json.Encode(@ViewBag.Claims));
    var vbRole = @Html.Raw(Json.Encode(ViewBag.RoleId));
    setMenu("portfolioSearch");
</script>

