@model tmg.equinox.identitymanagement.Models.ChangePasswordModel
@using System.Configuration
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/ChangePasswordLayout.cshtml";
}

   <div class="container">
    <div class="login-container">
        <div class="text-center client-logo">
           @if (@ViewBag.ApplicationName.ToLower() == "ebenefitsync")
           {
            <a href="~/">
                <img src="~/Content/css/custom-theme/images/eBS-logo-vertical.png" title="eBenefitSync" alt="@ViewBag.ApplicationName" />
            </a>
           }
           else
           {
            <a href="~/">
                <img src="~/Content/css/custom-theme/images/eMS-logo-vertical.png" title="eMedicareSync" alt="@ViewBag.ApplicationName" />
            </a>
           }
         </div>
   <!-- <div class="panel-body">
    <div class="panel panel-default"> -->
        <div class="panel-heading-gray">
            <p class="panel-title">Change Password</p>
        </div>

        <div class="panel-body">
            <div class="row form-group">
                @using (Html.BeginForm("ChangePassword", "Account" , FormMethod.Post, new { @class = "form-signin" }))
                {
                    <div class="form-group">
                        <div id="forgot-password">
                             @*@Html.ValidationSummary()*@
                        </div>
                    </div>  
                                                
                    if (TempData["notice"] != null)
                    {
                    <p class="text-success">@TempData["notice"]</p>
                    }
                    @Html.ValidationSummary(true, "", new { @class = "" })
                    <p class="">@ViewBag.StatusMessage</p>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
                    </div>                     
                        
                    <!-- <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @Html.LabelFor(c => c.UserName, new { @class = "fontLabel" })
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> -->
                             <div class="form-group">
                                    @Html.TextBoxFor(c => c.UserName, new { @class = "form-control login-form-control", @placeholder = "User Name"})
                                <!-- </div> -->
                                <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> -->
                                <span class="help-block">
                             @Html.ValidationMessageFor(c => c.UserName, null, new { @class = "help-inline" })
                                </span>
                        </div>
                        <!-- </div>
                    </div> -->

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    </div>
                    <!-- <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11"> -->
                        <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @Html.LabelFor(c => c.OldPassword, new { @class = "fontLabel" })
                        </div> -->
                        <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> -->
                             <div class="form-group">
                                @Html.PasswordFor(c => c.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
                            <!-- </div> -->
                                <span class="help-block">
                            @Html.ValidationMessageFor(c => c.OldPassword, null, new { @class = "help-inline" })
                                </span>
                        </div>
                    <!-- </div> -->

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    </div>
                    <!-- <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @Html.LabelFor(c => c.NewPassword, new { @class = "fontLabel" })
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> -->
                            <div class="form-group">
                                @Html.PasswordFor(c => c.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                            <!-- </div> -->
                            <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> -->
                                <span class="help-block">
                             @Html.ValidationMessageFor(c => c.NewPassword, null, new { @class = "help-inline" })
                                </span>
                        <!-- </div> -->
                        </div>
                    <!-- </div> -->

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    </div>
                    <!-- <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11"> -->
                        <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            @Html.LabelFor(c => c.ConfirmPassword, new { @class = "fontLabel" })
                        </div> -->
                        <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> -->
                            <div class="form-group">
                                @Html.PasswordFor(c => c.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                <!-- </div> -->
                                <span class="help-block">
                            @Html.ValidationMessageFor(c => c.ConfirmPassword, null, new { @class = "help-inline" })
                                </span>
                        </div>
                        <div class="text-center">
                            <!-- btn pull-right btn-padding -->
                            <button class="btn btn-lg btn-block btn-signin" type="submit">Change Password</button>
                            @{
                                if (ConfigurationManager.AppSettings.AllKeys.Contains("SingleLandingPageUrl"))
                                {
                                    string SingleLandingPageUrl = ConfigurationManager.AppSettings["SingleLandingPageUrl"].ToString() ?? string.Empty;
                                    if (!string.IsNullOrEmpty(SingleLandingPageUrl))
                                    {
                                        <a href="@SingleLandingPageUrl"> <i class="material-icons">keyboard_backspace</i> Login</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("LogOn", "Account")"> <i class="material-icons">keyboard_backspace</i> Login</a>
                                    }
                                }
                                else
                                {
                                    <a href="@Url.Action("LogOn", "Account")"> <i class="material-icons">keyboard_backspace</i> Login</a>
                                }
                            }

                    </div>
                }
            </div>
        </div>
    </div>
</div>
